body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.2vw;
}

header {
  color: white;
  background-color: rgb(80, 208, 224);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.75vw;
  padding: 1vw;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
  color: blue;
}
.titel {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0.5vw;
}
.bild {
  width: 33%;
  height: 33%;
  margin-left: 30vw;
}
article {
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-bottom: 1vw;
  margin-left: 2.5vw;
}

article li {
  list-style: none;
  text-decoration: no underline;
  display: inline-block;
  margin-right: 1.5vw;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 2vw;
  font-size: larger;
}

footer {
  padding: 0.2vw;
  margin-top: 1vw;
  text-align: center;
  color: antiquewhite;
  background-color: darkslategray;
}

.Bilder {
  display: flex;
  justify-content: center;
}

.bildspel {
  width: 33vw;
  height: 30vw;
  margin-bottom: 1vw;
  margin-right: 1vw;
}

.bildspel2 {
  width: 33vw;
  height: 50vw;
  margin-bottom: 1vw;
  margin-right: 1vw;
}
